{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sushi em Casa{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="navbar">
        <div class="logo">Sushi em Casa</div>
        <nav>
            <a href="#">Home</a> 
            <a href="#">Basket</a>
            <a href="#">Orders</a>
            <a href="{% url 'contato' %}">Contact</a> </nav>
        <div class="user-profile"></div>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <p>&copy; 2025 Sushi em Casa. Todos os direitos reservados.</p>
    </footer>
</body>
</html>